<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are two students of the Leibniz University of Hannover.
  We are currently in our third semester of the master's degree in Operations management and Research.
  In our free time we love to write web applications for mathematical problems. This is one example of our work.
  We hope you enjoy it.

</p>