<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <img style="height:200px;" src="https://scontent-a-fra.xx.fbcdn.net/hphotos-ash2/t1/29289_1265940100299_3259367_n.jpg"><img style="height:200px;" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1/28626_1504746741581_3671275_n.jpg"><br>
  <a href="https://scontent-a-fra.xx.fbcdn.net/hphotos-ash2/t1/29289_1265940100299_3259367_n.jpg?lvh=1">Carolina Bormann</a><br>
  Kötnerholzweg 57<br>
  30451 Hannover<br>
  Matr.-Nr. 2976970<br>
  <br>
  <a href="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1/28626_1504746741581_3671275_n.jpg">Luise-Sophie Hoffmann</a><br>
  Hufelandstraße 16<br>
  30453 Hannover<br>
  Matr.-Nr. 2973630<br>
</p>