<% provide(:title, 'gtc') %>
<h1>General Terms and Conditions</h1>
<p>

  This tool is provided free of charge.
  If you like and enjoy our tool and would like to show your appreciation, we would be happy if you support the
  <a href="http://sea-shepherd.de/index.php/unterstuetze-uns/spenden"> Sea Shepherd Conservation Society</a> .
  <br>

  If you have suggestions we appreciate an email with some comments and ideas for improvements.
</p>