<div class="center hero-unit">
   <h1>Welcome to the RCPSP-Tool</h1>



  <h2>
    Here you can easily create an optimal schedule for your project</a>
    sample application.
  </h2>

  <% if signed_in? %>
      <%= link_to "My Project", current_user, class: "btn btn-large btn-primary" %>
  <% else %>
      <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  <% end %>
  <br>
<br>
<%= link_to image_tag("schedule.png")%>
</div>