<footer class="footer">
  <small>
   &#169; by Carolina Bormann und Luise-Sophie Hoffmann
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "GTC", gtc_path %></li>
    </ul>
  </nav>
</footer>